.inputSearch {
  min-width: 272px;
  width: 50%;
  height: 56px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 16px 20px;
  outline: none;
  border-style: hidden;
}



.inputSettings{
height: 56px;
background: #323537;
border-radius: 10px;
padding: 16px 20px;
border: none;
}


.inputLight {
  background: #ffffff;
  border: 2px solid #afb2b6;
}
.inputDark {
  background: #323537;
  color: #ffffff;
}