.btnUserNameHeader {
  min-width: 56px;
  min-height: 56px;
  color: white;
  background: #7b61ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btnHeaderArrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
.btnUserNameHeaderMenu {
  display: none;
  cursor: pointer;

}
.btnSettings {
  width: 266px;
  height: 56px;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;

}
.btnSettingsDark {
  background: #323537;
}
.btnSettingsLight {
  background-color: white;
  border: 2px solid #afb2b6;
}
.btnSettings:hover {
  background-color: #7b61ff;
}
.btnAuth {
  background-color: #7b61ff;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
}

@media (max-width: 950px) {
  .btnHeaderArrow {
    display: none;
  }
  .btnUserNameHeaderMenu {
    display: block;
  }
}
