.pagesWrapperContainer{
  position: relative;
  /* padding: 0 62px ; */
}
.pagesWrapperDark{
  background-color: black;

}
.pagesWrapperLight{
  background-color: white;
}

@media (max-width: 950px) {
  .pagesWrapperContainer {
   padding: 0;
  }
}