.pagesWrapperContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.pagesWrapperDark{
  background-color: black;

}
.pagesWrapperLight{
  background-color: white;
}
.contentWrapper {
  display: flex;
}

@media (max-width: 950px) {
  .pagesWrapperContainer {
   padding: 0;
  }
  
.contentWrapper {
  flex-direction: row-reverse;
}

}