.userNameHeaderContent {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.userNameHeaderContainerDark {
  color: white;
}

@media (max-width: 768px) {
  .UserNameHeaderContainer,.userNameHeaderContainerDark {
    display: none;
  }
}
