.userNameHeaderContent {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.userNameHeaderContainerDark {
  color: white;
}
.userNameHeaderContainerLight {
  background-color: white;
}
@media (max-width: 950px) {
  .userNameHeaderContainer,.userNameHeaderContainerDark {
    display: none;
  }
}
