.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 62px 56px 62px;

}

.headerContainerDark {
  background-color: black;
}
.headerContainerLight {
  background-color: white;
  color: black;
}
.formInput {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.formInput:hover {
  border: 2px solid #7b61ff;
  border-radius: 10px;
}

.iconInput {
  height: 56px;
  padding: 16px 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.iconInputLight {
  background: #ffffff;
  border: 2px solid #afb2b6;
  border-left: none;
}
.iconInputDark {
  background: #323537;
  color: #ffffff;
}
.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .headerContainer {
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .headerContainer {
    /* flex-wrap: nowrap; */
    justify-content: center;
    padding: 40px;
    margin: 0;
  }
}