.sidebarContainer {
  height: 100vh;
  padding: 48px 60px 64px 60px;
  display: flex;
  flex-direction: column;
justify-content: space-between;

}
.linksWrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sidebarFooter{
  color: #AFB2B6;
}
.sidebarContainerDark {
  background-color: black;
}
.linkSidebar {
  text-decoration: none;
  display: flex;
  gap: 25px;
  color: #80858b;
}
@media (max-width: 950px) {
  .sidebarContainer {
    display: none;
  }
}
/* @media (max-width: 320px) {
  .cardImg {
    width: 272px;
    height: 365px;
  }
} */